.select-wrapper {
  position: relative;
  width: 300px;

  .select {
    border: 1px solid #f2f4ff;
    outline: none;
    border-radius: 16px;
    height: 32px;
    padding: 8px 16px;
    cursor: pointer;
    display: inline-block;
    width: 268px;
    color: #828589;

    &:hover {
      border: 1px solid rgba(100, 149, 237, 0.5);;
    }
  }

  .focus-select {
    border-color: rgba(100, 149, 237, 0.5);;
  }

  .arrow-icon {
    position: absolute;
    top: 55%;
    right: 12px;
    transform: translateY(-50%);

    &.rotate {
      transform: translateY(-50%) rotateX(180deg);
    }
  }
}

.list {
  position: absolute;
  width: 276px;
  margin-top: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 20px 1px #eee;
  border-radius: 16px;
  padding: 6px 12px;
  max-height: 250px;
  overflow-y: auto;

  .list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 34px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    color: #828589;
    margin-bottom: 8px;
    margin-top: 8px;

    & .item {
      display: flex;
      justify-content: start;
      align-items: center;
      & .item-title {
        margin-right: 8px;
      }
    }

    &.selected-color {
      background-color: rgba(100, 149, 237, 0.1);
      color: rgba(100, 149, 237, 1);
    }

    &:hover {
      background-color: #f2f4ff;
    }
  }
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #c4c5ca;
}
